@using VLCitas.DataLayer;
@{
    ViewBag.Title = "Proximamente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/robust/app-assets/css/pages/coming-soon.css">
<link href="#" rel="stylesheet" />
<div class="content-header row">
</div>
<div class="content-body">
    <!-- coming soon flat design -->
    <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-6 col-10 p-0">
                <div class="card card-transparent box-shadow-0 border-0">
                    <div class="card-content">
                        <div class="text-center">
                            <h5 class="card-text pb-2 white">Muy pronto... </h5>
                            <img src="~/Content/images/logo.png" class="img-responsive block width-300 mx-auto" width="300" alt="bg-img">
                            <div id="clockFlat" class="card-text getting-started pt-1 mt-2 white d-inline-block"></div>
                            <div class="col-12 pt-1">
                                <p class="card-text lead" style="color: black;">Esta sección se encuentra en construcción</p>
                            </div>
                            <div class="col-12 text-center pt-2">
                                <p class="socialIcon card-text">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ coming soon flat design -->
</div>

