.customSwalBtn4 {
    background-color: #81BEF7;
    border-left-color: rgba(214,130,47,1.00);
    border-right-color: rgba(214,130,47,1.00);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 30px 5px 0px 5px;
    padding: 10px 32px;
}
.customSwalBtn5 {
    background-color: #81BEF7;
    border-left-color: rgba(214,130,47,1.00);
    border-right-color: rgba(214,130,47,1.00);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 30px 5px 0px 5px;
    padding: 10px 32px;
}

td.fc-axis.fc-time.fc-widget-content {
    background-color: #ffffff !important;
}

.fc-widget-content {
    background-color: #fff !important;
}

.lb_cita {
    font-weight: 600;
}

#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}
.clickable-row {
    cursor: pointer;
}

.error {
    color: #b31212;
}