@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoja Medica</title>
    <meta name="description" content="Hoja Medica">
    <meta name="author" content="Hoja Medica">
    <link href="~/Content/Prescriptions/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Prescriptions/@ViewBag.Title/style.css" rel="stylesheet" />
</head>
<body>
    <br>
    <div class="container border-line">
        <!--  container-fluid --> <!-- //Cambiar a esta clase para quitar los marcos -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/Prescriptions/Custom_1/img/logo.png" />
                            </div>
                            <div class="col-md-4">
                                <h5>
                                    Dr. Hugo Alberto Rodríguez Verduzco
                                </h5>
                                <p>
                                    CIRUGÍA GENERAL LAPAROSCOPÍA
                                </p>
                            </div>
                            <div class="col-md-3">
                                <h5>Certificado por el Consejo</h5>
                                <h5>Mexicano de Cirugía General</h5>
                                <h5><b>Céduda Profesional 8991192</b></h5>
                            </div>
                            <div class="col-md-4">
                                <img src="~/Content/Prescriptions/Custom_1/img/logos.png" />
                                <h5 class="float-left">Fecha:</h5>
                                <div>
                                    <input class="line-txt" type="text" id="fecha" name="fecha">
                                </div>
                                <!-- <input type="date" id="start" name="trip-start" value="2020-03-22" min="2020-01-01" max="2077-12-31"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="float-left">Nombre:</h5>
                                <div>
                                    <input class="line-txt-full" type="text" id="fecha" name="fecha">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="space-x">

                                    <!--
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellat sit excepturi pariatur ipsa ratione modi, ipsum quod et ea similique soluta saepe alias dignissimos cum quia iste voluptates officia.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis repellendus distinctio accusantium vero dolores sequi dolor ullam quibusdam, quas ab sapiente rem laborum est, animi dolore nisi culpa, harum minima. -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5" align="center">
                                <p>
                                    Especialista en:
                                    </br>
                                    Vesícula - Hernias - Apendice - Enfermedades Digestivas
                                    </br>
                                    Reflujo Gastroesofágico - Tiroides - Intestino Delgado
                                    </br>
                                    Colon - Páncreas - Tumores Benignos de la Piel
                                    </br>
                                    Dolor y Trauma Abdominal
                                </p>
                            </div>
                            <div class="col-md-7">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blue-bar">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 txt-white">
                            <p>
                                <span>Hospital Colima</span>
                                </br>
                                <img src="~/Content/Prescriptions/Custom_1/img/pin.png" />	Calle Ignacio Sandoval 1801
                                </br>
                                <span>Col. Girasoles</span>
                            </p>
                        </div>
                        <div class="col-md-5 txt-white">
                            <h4>
                                <img src="~/Content/Prescriptions/Custom_1/img/wa-icon.png" />	CEl: <a href="tel:3122730760" style="color: #fff"> 312273 07 60</a>
                            </h4>
                        </div>
                        <div class="col-md-4 txt-black">
                            <h4>
                                <img src="~/Content/Prescriptions/Custom_1/img/correo.png" /> hugo_44_44@hotmail.com
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>